# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/
coverage/
.nyc_output/
src/
.babelrc
.eslintrc
gulpfile.js
gulpfile.babel.js
.travis.yml
.flowconfig
